<!-- templates/base.html -->
<!DOCTYPE html> 
<html lang="ru">
{% load static %}          
<head>
  <meta charset="utf-8">
  <meta name="msapplication-TileColor" content="#000">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href={% static 'css/bootstrap.min.css' %}>
  <title>{% block title %} {% endblock %}</title>
</head>
  <body>       
    {% include 'includes/header.html' %}
    <main>
      {% block content %}
        Не работает
      {% endblock %}
    </main>
    {% include 'includes/footer.html' %} 
  </body>
</html>